VITE_SUPABASE_URL=https://dyxgzxospyuzmjgodfzn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR5eGd6eG9zcHl1em1qZ29kZnpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYwOTgwNzQsImV4cCI6MjA2MTY3NDA3NH0.PtR0vujKV7PjJqQJKvIXzvScz74K96yBDbHAWu3IY8I
